<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chats
      User: {{name}}
      <div classs="ion-text-center">
        <button (click)="logout()">
        <ion-icon name="log-in" style="zoom:1.5"></ion-icon>Cerrar sesión
      </button>
    </div>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="home-container ">
   <ion-list>
    <ion-item *ngFor="let chat of Chats" lines="full">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label><strong>{{chat.message}}</strong>
        <p>{{chat.name}} </p></ion-label>
    
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating" >Mensaje</ion-label>
      <ion-input formControlName="message" type="text" required></ion-input>
    </ion-item>
  
    <ion-button class="ion-margin-top" type="submit" expand="block" color="success"> Enviar</ion-button>
  </form>
</ion-footer>


    
